<html ng-app="weatherApp">
<head>
  <title>Weather</title>

  <!-- Angular JS -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js"></script>

  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="style.css">

  <!-- Custom JS -->
  <script type="text/javascript" src="script.js"></script>

</head>
<body ng-controller="weatherCtrl">
  <div class="main wrapper">
    <div class="home-menu" ng-click="homeActive = !homeActive" ng-class="{active: homeActive}">

      <div ng-repeat="city in cities" class="item {{city.location.city | lowercase}}" ng-click="active = !active" ng-class="{active: active}" data-item-top="{{$index * 100}}">
        <div class="city-state">
          <span class="city">{{city.location.city}}</span>,
          <span class="state">{{city.location.state}}</span>
        </div>
        <div class="country">
          {{city.location.country}}
        </div>

        <div class="current">
          <div class="weather-description {{city.current.description | lowercase}}"><span class="icon">

            <svg>
  <path d="M231.9,132c-12.1,0-22,9.9-22,22c0,12.1,9.9,22,22,22c12.1,0,22-9.9,22-22C253.9,141.9,244.1,132,231.9,132z M231.9,168
    c-7.7,0-14-6.3-14-14c0-7.7,6.3-14,14-14c7.7,0,14,6.3,14,14C245.9,161.7,239.7,168,231.9,168z"/>
  <path d="M231.9,124.8c2.2,0,4-1.8,4-4v-8.1c0-2.2-1.8-4-4-4c-2.2,0-4,1.8-4,4v8.1C227.9,123,229.7,124.8,231.9,124.8z"/>
  <path d="M273.3,150h-8.1c-2.2,0-4,1.8-4,4c0,2.2,1.8,4,4,4h8.1c2.2,0,4-1.8,4-4C277.3,151.8,275.6,150,273.3,150z"/>
  <path d="M231.9,183.3c-2.2,0-4,1.8-4,4v8.1c0,2.2,1.8,4,4,4c2.2,0,4-1.8,4-4v-8.1C235.9,185.1,234.2,183.3,231.9,183.3z"/>
  <path d="M202.7,154c0-2.2-1.8-4-4-4h-8.1c-2.2,0-4,1.8-4,4c0,2.2,1.8,4,4,4h8.1C200.9,158,202.7,156.2,202.7,154z"/>
  <path d="M255.5,134.5c1,0,2-0.4,2.8-1.2l5.8-5.8c1.6-1.6,1.6-4.1,0-5.7c-1.6-1.6-4.1-1.6-5.7,0l-5.8,5.8c-1.6,1.6-1.6,4.1,0,5.7"/>
  <path d="M258.3,174.7c-1.6-1.6-4.1-1.6-5.7,0c-1.6,1.6-1.6,4.1,0,5.7l5.8,5.8c0.8,0.8,1.8,1.2,2.8,1.2c1,0,2-0.4,2.8-1.2"/>
  <path d="M205.6,174.7l-5.8,5.8c-1.6,1.6-1.6,4.1,0,5.7c0.8,0.8,1.8,1.2,2.8,1.2c1,0,2-0.4,2.8-1.2l5.8-5.8c1.6-1.6,1.6-4.1,0-5.7"/>
  <path d="M205.6,133.3c0.8,0.8,1.8,1.2,2.8,1.2c1,0,2-0.4,2.8-1.2c1.6-1.6,1.6-4.1,0-5.7l-5.8-5.8c-1.6-1.6-4.1-1.6-5.7,0"/>
            </svg>

          </span><span class="description">{{city.current.description}}</span></div>
          <div class="weather-temp"><span class="num">{{city.current.temp}}</span>&#176;C</div>
        </div>

        <div class="hi-low wrapper">
          <div class="hi">
            <div class="temp">
              <span class="num">{{city.list[0].high}}</span>&#176;C
            </div>
            <div class="label">Hi</div>
          </div> <!-- /hi -->
          <div class="low">
            <div class="temp">
              <span class="num">{{city.list[0].low}}</span>&#176;C
            </div>
            <div class="label">Low</div>
          </div> <!-- /low -->
        </div> <!-- /hi-low -->

        <div class="forecast wrapper">
          <div class="label">Weekly Forecast</div>

          <div ng-repeat="day in city.list" class="day {{day.day | lowercase}}">
            <div class="weather-icon"></div>
            <div class="description wrapper">
              <div class="weather-description">{{day.description}}</div>
              <div class="day-description">{{day.day}}</div>
            </div>
            <div class="hi-temp">{{day.high}}</div>
            <div class="low-temp">{{day.low}}</div>
          </div> <!-- /day -->

        </div>
      </div> <!-- /item -->

    </div> <!-- /home-menu -->
  </div>
</body>
</html>
