<html ng-app="weatherApp">
<head>
  <title>Weather</title>

  <!-- Angular JS -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js"></script>

  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="style.css">

  <!-- Custom JS -->
  <script type="text/javascript" src="script.js"></script>

</head>
<body ng-controller="weatherCtrl">
  <div class="main wrapper">
    <div class="home-menu" ng-click="homeActive = !homeActive" ng-class="{active: homeActive}">

      <div ng-repeat="city in cities" class="item {{city.location.city | lowercase}}" ng-click="active = !active" ng-class="{active: active}" data-item-top="{{$index * 100}}">
        <div class="city-state">
          <span class="city">{{city.location.city}}</span>,
          <span class="state">{{city.location.state}}</span>
        </div>
        <div class="country">
          {{city.location.country}}
        </div>

        <div class="current">
          <div class="weather-description {{city.current.description | lowercase}}"><span class="icon"></span><span class="description">{{city.current.description}}</span></div>
          <div class="weather-temp"><span class="num">{{city.current.temp}}</span>&#176;C</div>
        </div>

        <div class="hi-low wrapper">
          <div class="hi">
            <div class="temp">
              <span class="num">{{city.list[0].high}}</span>&#176;C
            </div>
            <div class="label">Hi</div>
          </div> <!-- /hi -->
          <div class="low">
            <div class="temp">
              <span class="num">{{city.list[0].low}}</span>&#176;C
            </div>
            <div class="label">Low</div>
          </div> <!-- /low -->
        </div> <!-- /hi-low -->

        <div class="forecast wrapper">
          <div class="label">Weekly Forecast</div>

          <div ng-repeat="day in city.list" class="day {{day.day | lowercase}}">
            <div class="weather-icon"></div>
            <div class="description wrapper">
              <div class="weather-description">{{day.description}}</div>
              <div class="day-description">{{day.day}}</div>
            </div>
            <div class="hi-temp">{{day.high}}</div>
            <div class="low-temp">{{day.low}}</div>
          </div> <!-- /day -->

        </div>
      </div> <!-- /item -->

    </div> <!-- /home-menu -->
  </div>
</body>
</html>
