@font-face {
    font-family: halis;
    src: url(fonts/halis-100.ttf);
    font-weight: 100;
}
@font-face {
    font-family: halis;
    src: url(fonts/halis-500.ttf);
    font-weight: 500;
}
@font-face {
    font-family: halis;
    src: url(fonts/halis-700.ttf);
    font-weight: 700;
}
@font-face {
    font-family: halis;
    src: url(fonts/halis-900.ttf);
    font-weight: 900;
}

html, body {
  box-sizing: border-box;
  height: 100%;
  margin: auto;
  padding: 0;
  width: 100%;
}

body {
  font-family: halis, Arial, sans-serif;
  font-size: 12px;
  overflow-y: scroll;
}

.wrapper {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
  width: 100%;
}

/* Home menu */

.home-menu {
  color: #FFF;
  position: relative;
}

.home-menu .item {
  background-color: #FFD627;
  margin: auto;
  text-align: center;
}
.home-menu .item.whitehorse {
  background-color: #5093FF;
}
.home-menu .item.montreal {
  background-color: #CCC;
}

.item .city-state {
  font-weight: 900;
  padding-top: 1em;
}

.item .current {
  padding-bottom: 1em;
}

/* Expanded */
.hi,
.low {
  background-color: #7DE5FF;
  float: left;
  width: 50%;
  height: 50px;
}

.hi {
  background-color: #FF3A6C;
}

/* Forecast */
.forecast.wrapper {
  background-color: #FFF;
  color: #333;
  clear: both;
  padding: 1em;
}

.forecast .day {
  border-top: 1px solid #EEE;
}
.forecast .day > div {
  display: inline-block;
}
.forecast .day .hi-temp,
.forecast .day .low-temp,
.forecast .day .weather-icon {
  width: 40px;
}
.forecast .day .weather-icon:before {
  content: "&";
}
.forecast .day .description.wrapper {
  text-align: left;
  width: 50%;
}

/* States */
.item .hi-low.wrapper,
.item .forecast.wrapper {
  height: 0;
  overflow: hidden;
  padding: 0;
}
.item.active .hi-low.wrapper,
.item.active .forecast.wrapper {
  height: auto;
  padding: auto;
}

.item {
  box-sizing: border-box;
  height: 100px;
  position: relative;
  width: 100%;
  top: 0;
  transition: all .5s;
}
.item.active {
  transition: all 1s;
  height: 100%;
}

.home-menu.active .item {
  opacity: 0;
  height: 0;
  padding: 0;
}
.home-menu.active .item.active {
  opacity: 1;
  height: auto;
  padding: 1em 0 0;
}

.item .current .weather-description .description{
  opacity: 0;
  width: 0;
}
.item.active .current .weather-description .description{
  opacity: 1;
  width: 100%;
}
.item .current .weather-description .icon {
  background-image: url(images/icons.svg);
}

.item.active .current .weather-temp {
  font-size: 32px;
  line-height: 72px;
  vertical-align: top;
}
.item.active .current .weather-temp .num {
  font-size: 72px;
  font-weight: 700;
}
